<!DOCTYPE html>
<html lang="en">
	{# какая-то каша. надо будет переписать #}
	{% include 'parts/head.tmpl' %}
		{% if page.tag != 'showreel' %}
			<body>
			<div class="white-wrap">
				{% include 'parts/navbar.tmpl' %}
				<div class="uk-container uk-padding">
					{% include 'pages/'~page.tag~'.tmpl' %}
				</div>
			</div>
			{% include 'parts/footer.tmpl' %}
			{% include 'parts/scripts.tmpl' %}
		{% else %}
			<body class="showreel-body">
			{% include 'pages/'~page.tag~'.tmpl' %}
		{% endif %}
	</body>
</html>
